/* === Header Section === */
ul.desktop-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  ul.desktop-nav li a:hover {
    color: #4db6ac; }
  ul.desktop-nav li.active a {
    color: #4db6ac; }
    ul.desktop-nav li.active a:hover {
      color: #4db6ac; }

/* === Main Section === */
main {
  margin-top: 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
  main section {
    border-bottom: 1px dotted gray; }
  main .tabs {
    margin-bottom: 30px; }

@media only screen and (min-width: 0px) {
  .fluid-tabs {
    font-size: 0.8rem; } }

@media only screen and (min-width: 601px) {
  .fluid-tabs {
    font-size: 1rem; } }

.caption-text {
  font-weight: bold; }

i.mdi-navigation-check {
  font-weight: bold; }

.blog article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem; }

.blog .date-article {
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 60px;
      -ms-flex: 1 0 60px;
          flex: 1 0 60px; }
  .blog .date-article span {
    text-transform: uppercase;
    line-height: 1; }
  .blog .date-article .month {
    font-size: 1.5714rem; }

.blog .footer-article {
  font-size: 0.8rem;
  margin-top: -0.5rem; }

.customers {
  border: none; }

.list-logo {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .list-logo li {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100px;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    cursor: pointer; }
    .list-logo li a {
      display: block;
      height: 100%;
      width: 100%; }

.block-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); }

/* === Footer === */
.footer-p, footer.page-footer .footer-posts, .footer-twit {
  padding: 1rem 0;
  border-bottom: 1px dotted gray; }
  .footer-p p, footer.page-footer .footer-posts p, .footer-twit p {
    margin: 0; }

footer.page-footer {
  color: #bdbdbd;
  font-size: 0.85rem;
  padding-top: 0; }
  footer.page-footer h6 {
    text-transform: uppercase;
    margin-top: 1.5rem;
    margin-bottom: 1rem; }
  footer.page-footer form .row {
    margin-bottom: 0; }
  footer.page-footer .footer-posts span {
    display: inline-block;
    margin-top: 0.5rem;
    font-size: 85%;
    color: #9e9e9e; }
  footer.page-footer .footer-copyright {
    overflow: visible;
    height: auto; }
    footer.page-footer .footer-copyright .row {
      margin: 0; }
    footer.page-footer .footer-copyright .social {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
      footer.page-footer .footer-copyright .social li {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 32px;
            -ms-flex: 0 0 32px;
                flex: 0 0 32px;
        height: 32px;
        margin: 0.2rem; }

.footer-twit i.fa {
  padding-right: 0.5rem;
  font-size: 120%; }

.footer-twit span:before {
  content: " - "; }

.social-icons, .icon-rss, .icon-twitter, .icon-facebook, .icon-dribbble, .icon-pinterest, .icon-linkedin {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover; }

.icon-rss {
  background: url("../img/png/32-rss.png") no-repeat; }

.icon-twitter {
  background: url("../img/png/32-twitter.png") no-repeat; }

.icon-facebook {
  background: url("../img/png/32-facebook.png") no-repeat; }

.icon-dribbble {
  background: url("../img/png/32-dribbble.png") no-repeat; }

.icon-pinterest {
  background: url("../img/png/32-pinterest.png") no-repeat; }

.icon-linkedin {
  background: url("../img/png/32-linkedin.png") no-repeat; }

.list-contact li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem; }
  .list-contact li i {
    margin-right: 1rem;
    width: 2rem; }

.my-progress {
  display: block;
  text-transform: uppercase;
  font-weight: bold; }

.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .gallery li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
    @media only screen and (min-width: 0px) {
      .gallery li {
        width: 100%; } }
    @media only screen and (min-width: 601px) {
      .gallery li {
        width: 49%; } }
    @media only screen and (min-width: 992px) {
      .gallery li {
        width: 33%; } }

.card .card-title {
  font-size: 1.3rem; }

.post-title {
  font-size: 2.5rem;
  line-height: normal; }

.card-panel .row {
  margin: 0; }

.comment-title {
  font-weight: bold; }

.comment-date {
  font-size: 0.8rem; }

.alert, .alert-success, .alert-error {
  color: #ffffff;
  padding: 1rem 2rem;
  margin-top: 2rem;
  position: relative;
  border-radius: 4px; }
  .alert a, .alert-success a, .alert-error a {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #ffffff; }

.alert-success {
  background-color: #43a047; }

.alert-error {
  background-color: #d32f2f; }

.trap {
  display: none; }

.card .card-image .card-title {
  width: 100%; }

.card .card-action a {
  color: #009688; }
  .card .card-action a:hover {
    color: #80cbc4; }

.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* === General === */
nav ul a {
  text-transform: uppercase; }

.slider {
  margin-top: 50px; }
  .slider .slides li {
    opacity: 1; }
    .slider .slides li .caption {
      text-shadow: 0 1px 10px #212121;
      opacity: 1; }
  .slider .indicators .indicator-item.active {
    background-color: #263238; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
