<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <div class="row valign-wrapper">
                <div class="col s6 m6 l6 valign">© 2015 Copyright Text</div>
                <div class="col s6 m6 l6 valign">
                    <ul class="social">
                        <li><a href="//rss.com" class="icon-rss" target="_blank"></a></li>
                        <li><a href="//facebook.com" class="icon-facebook" target="_blank"></a></li>
                        <li><a href="//facebook.com" class="icon-twitter" target="_blank"></a></li>
                        <li><a href="//dribbble.com" class="icon-dribbble" target="_blank"></a></li>
                        <li><a href="//pinterest.com" class="icon-pinterest" target="_blank"></a>
                        </li>
                        <li><a href="//linkedin.com" class="icon-linkedin" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- build:js js/vendor.min.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/materialize/bin/materialize.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js js/main.min.js -->
<script src="js/main.js"></script>
<!-- endbuild -->


<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</body>
</html>