<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l3">
                <h6 class="grey-text text-lighten-3">Popular Posts</h6>

                <div class="footer-posts">
                    <p>Vivamus sagittis lacus vel augue laoreet rutrum dolor auctor.</p>
                    <span>14 Feb, 2015 </span>
                </div>

                <div class="footer-posts">
                    <p>Scelerisque nisl consectetur et.</p>
                    <span>22 May, 2015 </span>
                </div>

                <div class="footer-posts">
                    <p>Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus </p>
                    <span>15 Jun, 2015 </span>
                </div>

            </div>
            <div class="col s12 m6 l3">
                <h6 class="grey-text text-lighten-3">Twitter</h6>

                <div class="footer-twit">
                    <p>
                        <i class="fa fa-twitter"></i>
                        Praesent commodo cursus magna Morbi leo risus nulla consectetur.
                        <span class="blue-text text-lighten-3">21 hours ago</span>
                    </p>
                </div>

                <div class="footer-twit">
                    <p>
                        <i class="fa fa-twitter"></i>
                        Vestibulum id ligula porta euismod semper. auctor dolor fermentum.
                        <span class="blue-text text-lighten-3">2 days ago</span>
                    </p>
                </div>

                <div class="footer-twit">
                    <p>
                        <i class="fa fa-twitter"></i>
                        Donec ullamcorper nulla non metus auctor
                        <span class="blue-text text-lighten-3">3 days ago</span>
                    </p>
                </div>

                <div class="footer-twit">
                    <p>
                        <i class="fa fa-twitter"></i>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, officia.
                        <span class="blue-text text-lighten-3">1 days ago</span>
                    </p>
                </div>

            </div>
            <div class="col s12 m6 l3">
                <h6 class="grey-text text-lighten-3">A little about me</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi
                    erat porttitor ligula, eget lacinia odio sem nec elit.</p>

                <p>Donec id elit non porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel.</p>
            </div>
            <div class="col s12 m6 l3">
                <h6 class="grey-text text-lighten-3">Contact form</h6>

                <form action="mail.php" method="post" id="form-contact">
                    <input type="text" name="name" class="trap"/>

                    <div class="row">
                        <div class="col s6 input-field">
                            <input type="text" id="first-name" class="validate" name="first-name" length="30" required="required"/>
                            <label for="first-name">First name <sup class="red-text darken-4">*</sup></label>
                        </div>
                        <div class="col s6 input-field">
                            <input type="text" id="last-name" class="validate" name="last-name" length="30" required="required"/>
                            <label for="last-name">Last name <sup class="red-text darken-4">*</sup></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="email" id="email" class="validate" name="email" length="50" required="required"/>
                            <label for="email">Email <sup class="red-text darken-4">*</sup></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" id="subject" class="validate" name="subject"/>
                            <label for="subject">Subject</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 input-field">
                            <textarea name="message" id="message" class="materialize-textarea" length="1000" required="required"></textarea>
                            <label for="message">Message <sup class="red-text darken-4">*</sup></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 input-field">
                            <button class="btn waves-effect waves-light blue-grey darken-1" type="submit" name="submit">
                                Submit
                                <i class="fa fa-send-o right"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div id="form-messages"></div>
            </div>
        </div>

    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row valign-wrapper">
                <div class="col s6 m6 l6 valign">© 2015 Copyright Text</div>
                <div class="col s6 m6 l6 valign">
                    <ul class="social">
                        <li><a href="//rss.com" class="icon-rss" rel="nofollow" target="_blank"></a></li>
                        <li><a href="//facebook.com" class="icon-facebook" target="_blank"></a></li>
                        <li><a href="//facebook.com" class="icon-twitter" target="_blank"></a></li>
                        <li><a href="//dribbble.com" class="icon-dribbble" target="_blank"></a></li>
                        <li><a href="//pinterest.com" class="icon-pinterest" target="_blank"></a>
                        </li>
                        <li><a href="//linkedin.com" class="icon-linkedin" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>

<!-- build:js js/vendor.min.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/materialize/bin/materialize.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js js/main.min.js -->
<script src="js/main.js"></script>
<!-- endbuild -->

</body>
</html>