<div class="container">
    <div class="slider">
        <ul class="slides">
            <li><img src="img/slider/7DF5CC19A6.jpg" alt="slider img"/>

                <div class="caption left-align grey-text text-lighten-3">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light">Here's our small slogan.</h5>
                </div>
            </li>
            <li><img src="img/slider/CRNZFWFZYG.jpg" alt="slider img"/>

                <div class="caption left-align  grey-text text-lighten-3">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light">Here's our small slogan.</h5>
                </div>
            </li>
            <li><img src="img/slider/EA6AC28FAC.jpg" alt="slider img"/>

                <div class="caption left-align grey-text text-lighten-3">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light">Here's our small slogan.</h5>
                </div>
            </li>
            <li><img src="img/slider/TGQ5YQ81IV.jpg" alt="slide img"/>

                <div class="caption left-align grey-text text-lighten-3">
                    <h3>This is our big Tagline!</h3>
                    <h5 class="light">Here's our small slogan.</h5>
                </div>
            </li>
        </ul>
    </div>
</div>